
BODY {
    margin: 0;
    font-size: 10pt;
    background-color: #fff;
}

BODY,
INPUT,
TEXTAREA {
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #444;
    color: #fff;
    height: 2.4em;
}
#header-logo {
    width: 1.6em;
    height: 2em;
    padding: 0.2em;
    background-color: #0088ff;
}
#header-logo svg g {
    fill: #0088ff;
    stroke: #eee;
    stroke-width: 2;
}
H1 {
    margin: 0;
    font-size: 120%;
    display: inline-block;
    padding: 0.4em 0.4em 0.4em 0.6em;
}
#header-right {
    margin-left: auto;
    padding: 0.3em;
}
.header-action {
    margin: 0 0.3em;
}


#dialog-details,
#dialog-options {
    background-color: #fff;
    color: #666;
    text-align: left;
    border: none;
    padding: 0.6rem 1.6rem;
    box-shadow: 0 0 30px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.25);
    max-width: 80vw;
}
dialog::backdrop {
    background: rgba(100,100,100,.5);
    backdrop-filter: blur(0.04em);
}
.dialog-button-container {
    display: flex;
    justify-content: space-around;
    margin: 2em 0 1.4em 0;
}
.dialog-button,
.dialog-button-secondary {
    background-color: #666; 
    border: none;
    color: white;
    padding: 0.5em 1em;
    margin: 0 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.dialog-button-secondary {
    background-color: #ddd; 
    border: #666;
    color: #666;
}
.dialog-close-x {
    float: right;
    font-weight: bold;
    color: #bbb;
    font-size: 120%;
    margin-top: 0.4em;
    cursor: pointer;
}

.form-item {
    margin: 0.2em;
}
.form-item label {
    display: inline-block;
    line-height: 1.4em;
    min-width: 8em;
    text-align: right;
    vertical-align: top;
}
.form-item input[text] {
    min-width: 8em;
}
.form-item input:read-only {
    border: none;
}
.form-item textarea {
    min-width: 20em;
    min-height: 4em;
}

.hidden {
    display: none;
}


.section-eol {
    margin: 0 0 6em 0;
}
svg {
    vertical-align: top;
}

.timeline-year {
    fill: #777;
    stroke: #333;
    stroke-width: 1px;
}
.year-label {
    padding: 0.2rem 0.6rem;
    fill: #fff;
}

.timeline-month {
    fill: #eee;
    stroke: #d3d3d3;
    stroke-width: 1px;
}
.timeline-month-alt {
    fill: #ddd;
}
.timeline-month-cur {
    fill: #00a0be;
}
.month-label {
    fill: #555;
    font-size: 90%;
}
.month-label-cur {
    fill: #fff;
}

.item-group-divider {
    stroke: #666;
    stroke-width: 2px;
    stroke-dasharray: 4 2;
}
.item-group-label {
    fill: #444;
    font-size: 110%;
    font-weight: bold;
}

.item-label {
    padding: 0.2rem 0.6rem;
    fill: #fff;
}
.item-link {
    fill: #ccc;
}
.item-link-icon {
    fill: #ccc;
}

.item-supported {
    fill: #bbb;
}
.item-supported-stopColour {
    stop-color: #bbb;
}
.item-supported-noEnd {
    fill: url(#item-supported-fadeRight);
}
.item-supported-border {
    fill-opacity: 0;
    stroke: #666;
    stroke-width: 2;
    stroke-linejoin: round;
}
.item-supported-border-stopColour {
    stop-color: #666;
}
.item-supported-border-noEnd {
    stroke: url(#item-supported-border-fadeRight);
}

.item {
    fill: #aaa;
}
.item-inuse {
    fill: #548235;
}
.item-inuse-stopColour {
    stop-color: #548235;
}
.item-inuse-noEnd {
    fill: url(#item-inuse-fadeRight);
}
.item-inuse-future {
    fill: #888;
}
.item-inuse-future-stopColour {
    stop-color: #888;
}
.item-inuse-future-noEnd {
    fill: url(#item-inuse-future-fadeRight);
}
.item-inuse-near-eol {
    fill: rgb(224, 114, 23);
}
.item-inuse-eol {
    fill: rgb(220, 20, 20);
}

/*
to correct scroll computations on android
https://stackoverflow.com/questions/47456125/not-a-top-of-the-page-but-window-scrolly-equals-0-on-chrome-mobile-browser
*/
@media screen and (max-width: 992px) {
    html, body {
        overflow: auto !important;
    }
}